h2{
    font-size: 40px; 
    color:rgba(248, 41, 145, 0.343);
    font-family: cursive,sans-serif;
 }
 h4{
     color: rgba(226, 43, 43, 0.534);
     font-family:cursive,sans-serif;
 }
 fieldset{
     border-color: rgb(255, 0, 119);   
     
 }

body{
    background-image:url(0efed0_ecf8818f0fac4d2fbfce17ec4dc2958a~mv2.webp);
}